<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->



<html lang="en">

    <title>course connections</title>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet"  type="text/css" href="../../public/css/font.css" />
    <link rel="stylesheet" href="../../public/css/homepage_styles.css">


    <link rel ="icon" href="../../public/img/newtablogo.png">





    <body>
        

    <div class="navbar">


        <div class=" dropdown" style="float:right; ">
            <button class=" dropbtn " ><i class="fa fa-user-circle"></i>
            </button>
            <div class="dropdown-content-right">
                <a href="#">welcome!</a><!-- comment -->
                <a href="#" onclick="location.href = '/';">log out</a>
            </div>
        </div>

        <!-- #6699ff  <img src="profilepic.png" alt="Avatar" class="avatar w3-right w3-bar-item w3-small">-->

        <div class="dropdown">
            <button class="dropbtn" >menu
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#"  onclick="location.href = 'flashcards';">study</a>
                <a href="#" onclick="location.href = 'calendar';">calendar</a>
                <a href="#" onclick="location.href = 'groups';">group</a>
                <a href="#"  onclick="location.href = 'addfriends';">friends</a>
            </div>  

        </div>

        <h4 style="font-family: august;  text-align: center; ">COURSE CONNECTIONS</h4>

    </div>
    <br>

    <div class="row1">
        <div class="column" style="background-color: white; text-align: center">

            <form id="add-to-wishlist"
                method = "POST"
                action = "/entercourses/"
            >
                <h2>
                    <label style="font-family: juana; ">what classes are you taking?</label>
                </h2>
                <br>
                <br>
                <input type="text" name="wishlist-item" id="wishlist-item">
                <br>
                <br>
                <br>

                <button type="reset" onClick="window.location.reload();deleteItems();">clear</button>
                &nbsp;
                &nbsp;
                <button type="submit">add class</button>
                <br><!-- comment -->


            </form>



        </div>


        <div class="column" style="background-color: white;">
            <h2 style="font-family: juana; text-align: center">your classes: </h2>

            <ul id="wishlist"></ul>




        </div>

    </div>

    <div class="footer" style="background-color: white;"> 
        <div class="row1">
            <img src="../public/img/pinkstar.png" class="w3-small w3-padding-32">
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <img src="../public/img/greenstar.png" class="w3-small w3-padding-32">
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <img src="../public/img/pinkstar.png" class="w3-small w3-padding-32">
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
        </div>
    </div>

    <div class =" footer">

        <h2 style="font-family: juana;">suggested friends</h2>
        <br>
        <div class="row1">
            <div class="column1">
                <div class="card1" style="background-color: #d1f3f0;">
                    <img src="../public/img/cooler.jpg" alt="Avatar"  class="avatar" >

                    <p><b>lindsey hess</b></p>
                    <p>lindsey@oakland.edu</p>
                    <button onclick="location.href = 'addfriends';"><i class="fa fa-plus"> </i> add friend</button>
                </div>
            </div>

            <div class="column1">
                <div class="card1" style="background-color: #ffd4f5;">
                    <img src="../public/img/Lnft.png" alt="Avatar"  class="avatar" >
                    <p><b>humayra ahmed</b></p>
                    <p>humayra@oakland.edu</p>
                    <button  onclick="location.href = 'addfriends';"><i class="fa fa-plus"> </i> add friend</button>
                </div>
            </div>

            <div class="row1">
                <div class="column1">
                    <div class="card1" style="background-color: #eadbf9;">
                        <img src="../public/img/joker.jpg" alt="Avatar"  class="avatar" >

                        <p><b>lilli bowman</b></p>
                        <p>lilli@oakland.edu</p>
                        <button onclick="location.href = 'addfriends';"><i class="fa fa-plus"> </i> add friend</button>
                    </div>
                </div>

                <div class="column1">
                    <div class="card1" style="background-color: #cdf5ff;">
                        <img src="../public/img/goat.png" alt="Avatar"  class="avatar" >
                        <p><b>hannah roy</b></p>
                        <p>hannah@oakland.edu</p>
                        <button onclick="location.href = 'addfriends';"><i class="fa fa-plus"> </i> add friend</button>
                    </div>
                </div>

                <div class="column1">
                    <div class="card1" style="background-color: #cdffd7;">
                        <img src="../public/img/simple.jpg" alt="Avatar"  class="avatar" >
                        <p><b>kaya begum</b></p>
                        <p>kaya@oakland.edu</p>
                        <button onclick="location.href = 'addfriends';"><i class="fa fa-plus"> </i> add friend</button>
                    </div>
                </div>

                <div class="column1">
                    <div class="card1" style="background-color: #fff2d3;">
                        <img src="../public/img/cool.jpg" alt="Avatar"  class="avatar" >
                        <p><b>jordan costlow</b></p>
                        <p>jordan@oakland.edu</p>
                        <button onclick="location.href = 'addfriends';"><i class="fa fa-plus"> </i> add friend</button>
                    </div>
                </div>
            </div> 
        </div> 


        <!-- Footer -->
        <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
            <div class="w3-xlarge w3-padding-32">

            </div>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>

        <script>
            function myFunction(x) {
                x.classList.toggle("fa-check");
            }

            // Get form, item, and wishlist
            var addToWishList = document.querySelector('#add-to-wishlist');
            var wishlistItem = document.querySelector('#wishlist-item');
            var wishlist = document.querySelector('#wishlist');

            addToWishList.addEventListener('submit', function (event) {

                // Don't submit the form
                event.preventDefault();

                // Ignore it if the wishlist item is empty
                if (wishlistItem.value.length < 1)
                    return;

                // Add item to wishlist
                wishlist.innerHTML += '<li>' + wishlistItem.value + '</li>';

                // Clear input
                wishlistItem.value = '';

                // Save the list to localStorage
                localStorage.setItem('wishlistItems', wishlist.innerHTML);

            }, false);

            function deleteItems() {
                // Clear localStorage items 
                localStorage.clear();
            }

            // Check for saved wishlist items
            var saved = localStorage.getItem('wishlistItems');

            // If there are any saved items, update our list
            if (saved) {
                wishlist.innerHTML = saved;
            }
        </script>

    </body>
</html>

