<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->



<html lang="en">

    <title>course connections</title>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet"  type="text/css" href="../../public/css/font.css" />
    <link rel="stylesheet" href="../../public/css/homepage_styles.css">


    <link rel ="icon" href="../../public/img/newtablogo.png">





    <body>

        <!-- navbar 
        <div class="w3-top">
            <div class="w3-bar  w3-card w3-left-align w3-large" style="background: #BFDCF7">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="#" class="w3-bar-item w3-button  w3-padding-large w3-hover-pale-green" onclick="location.href = 'homepage.html';">home</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-green" onclick="location.href = 'flashcards.html';">study</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-green">calendar</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-green">message</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-green">meet</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-green" onclick="location.href = 'addFriends.html';">add friends</a>

        <img src="ccstarlogo.png" class= " w3-right w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-pale-green" onclick="location.href = 'homepage.html';" alt="logo" >-->
        <!-- comment -->   
        <!-- <img src="profilepic.png" alt="Avatar" class="avatar w3-right w3-bar-item">
 
    </div> -->



        <div class="navbar">


            <div class=" dropdown" style="float:right">
                <button class=" dropbtn " ><i class="fa fa-user-circle"></i>
                </button><!-- comment -->
                <div class="dropdown-content-right">
                    <a href="#">settings</a><!-- comment -->
                    <a href="#" onclick="location.href = '/';">log out</a>
                </div>
            </div>

            <!--<img src="profilepic.png" alt="Avatar" class="avatar w3-right w3-bar-item w3-small">-->

            <div class="dropdown">
                <button class="dropbtn">menu
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#"  onclick="location.href = 'flashcards';">study</a>
                    <a href="#" onclick="location.href = 'calendar';">calendar</a>
                    <a href="#" onclick="location.href = 'group';">group</a>
                    <a href="#"  onclick="location.href = 'addfriends';">friends</a>
                </div>  

            </div>

            <h4 style="font-family: psyche; text-align: center;">course connections</h4>

        </div>





        <!-- Header  
        <header class="w3-container w3-center container"
                style="padding:128px 16px;
                text-shadow: 2px 2px 4px white;
                background: #BFDCF7;
                background-image: url(starbackground.png);
                color: black;">
            <h2 class="w3-margin w3-jumbo" style="font-family:'psyche';" >course connections</h2> 
    
    
        </header>
        -->

        <!-- First Grid -->
        <div class="w3-row-padding w3-padding-64 w3-container">
            <div class="w3-content">
                <div class="w3-twothird">
                    <h1 style="font-family: juana;">what classes are you currently taking?</h1>
                    <h5 class="w3-padding-32">
                        <form 
                            id = "enter_courses"
                            method = "post"
                            action = "/entercourses/"
                            >
                            <!-- <label for = "coursesID">enter student ID:</label><br>
                            <input type ="text" name = "StudentID"><br> -->

                            <label for="class1">class 1:</label><br>
                            <input type="text" id="class1" name="class1"><br>
                            <label for="class2">class 2:</label><br>
                            <input type="text" id="class2" name="class2"><br>
                            <label for="class3">class 3:</label><br>
                            <input type="text" id="class3" name="class3"><br>
                            <label for="class4">class 4:</label><br>
                            <input type="text" id="class4" name="class4"><br> 
                            <label for="class5">class 5:</label><br>
                            <input type="text" id="class5" name="class5"><br>
                            <input type="submit" value="Submit">

                        </form></h5>

                        <input type = "button">

                    <p class="w3-text-grey"></p>
                </div>

                <div class="w3-third w3-center">
                    <img src="../../public/img/pinkstar.png" class="w3-large w3-padding-64">
                </div>
            </div>
        </div>

        <!-- Second Grid -->
        <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
            <div class="w3-content">
                
                
                <div class="w3-third w3-center">
                   <h1 style="font-family: juana;">suggested friends</h1>
                    <div class=" card" style="width:150px; float:left">
                        <img src="../../public/img/profilepic.png" alt="Avatar"  class="avatar">
                        <div class=" 1container">
                            <h4><b>jane doe</b></h4>
                            <p>janedoe@email.com</p>
                            <a href="#" class="w3-button w3-hover-pale-green" onclick="location.href = 'addfriends';">+ add friend</a>
                        </div>
                    </div>
                    <b></b>
                    <b></b>
                    <div class="  w3-center card" style="width:150px; float: right">
                        <img src="../../public/img/profilepic.png" alt="Avatar"  class="avatar">
                        <div class=" w3-center 1container">
                            <h4><b>john doe</b></h4>
                            <p>johndoe@email.com</p>
                            <a href="#" class="w3-button w3-hover-pale-green" onclick="location.href = 'addfriends';">+ add friend</a>
                        </div>
                    </div>
                   
                    <!--<img src="greenstar.png" class="w3-large w3-padding-64">
                </div>
    
                <div class="w3-twothird">
                    <h1 style="font-family:'blackmango';">meet your classmates!</h1>
                    <h5 class="w3-padding-32">description</h5>
    
                    <p class="w3-text-grey">description</p>-->
                </div>
            </div> 
        </div>

        <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
            <h1 class="w3-margin w3-xlarge" style="font-family:'ropers';"> </h1>
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
            <div class="w3-xlarge w3-padding-32">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>

        <script>
            // Used to toggle the menu on small screens when clicking on the menu button
            function myFunction() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }
        </script>

    </body>
</html>

