<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    <link rel="stylesheet" href="../../public/css/chat_styles.css">
    <link rel ="icon" href="../../public/img/newtablogo.png">
</head>


<body>

    <button  onclick="location.href = 'home';" 
            style="font-family: chromatica; float:left; color:black; border-color: thistle; border-radius: 5px;" 
             >â†home   </button>

    <button  id = "friendsbutton" onclick="location.href = 'addfriends';" 
        style="font-family: chromatica; float:left; color:black; border-color: thistle; border-radius: 5px;" 
        >add friends </button>

    <iframe frameBorder="0" src="https://serene-journey-73375.herokuapp.com/" height="900" width="900"></iframe>
</body>
</html>